  <!-- HERO-HEADER -->
  <app-hero></app-hero>
  
  <!-- ABOUT US -->
 <app-about></app-about>

  <!-- SERVICES -->
<app-services></app-services>

  <!-- PORTFOLIO -->

  <app-portfolio></app-portfolio>
  
  <!-- OPTIONAL SECTION -->

  
  <section class="site-section" id="next-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <a data-ratio="2" href="https://www.carlosplanchart.com/event-zorro-mean-stack/" class="block__96788">
            <span class="play-icon"><span class="icon-play"></span></span>
            <img src="../assets/images/e-zorro-5.png" alt="Image" class="img-fluid img-shadow">
          </a>
        </div>
        <div class="col-lg-5 ml-auto">
          <h3 class="section-title-sub text-primary">Project Spotlight</h3>
          <h2 class="section-title mb-3">Event-Zorro</h2>
          <p class="lead">Event Zorro is a MEAN-Stack platform that allows users to search for events in their area. This App mainly utilizes Ticketmaster’s Discovery API, MapBox Geocoding Places API, and Mapbox’s GL JS library to allow users to retrieve local events, and then search for events around the world. The Back-end is developed in Node and Express with MongoDB as the database allows users to employ CRUD operations on three collections of Users, Events, and Maps...</p>
        </div>
      </div>
    </div>
  </section>

  
  <!-- BLOG SECTION -->
 <app-blog-posts></app-blog-posts>
