.footer-social a, .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    background: #000000;
    border-radius: 50%;
    text-decoration: none !important; }
    .footer-social a > span, .social a > span {
      position: absolute;
      left: 50%;
      top: 50%;
      color: #fff;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .footer-social a:hover, .social a:hover {
      background: #dc3545; }
      .footer-social a:hover span, .social a:hover span {
        color: #000000; }


        .item-wrap {
          position: absolute;
          top: 30%;
          background-color: transparent;
          left: 50%;
          z-index: 3;
          -webkit-transform: translate(-50%, -50%) scale(0);
          -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
          color: #fff;
          font-size: 1rem;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }

          .item-wrap > span {
            color: white;
          }
           .item-wrap:after {
            z-index: 2;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.6);
            visibility: hidden;
            opacity: 0;
            -webkit-transition: .3s all ease-in-out;
            -o-transition: .3s all ease-in-out;
            transition: .3s all ease-in-out; }

          .img-1:hover:after {
            opacity: 1;
            visibility: visible; }
          .img-1:hover a {
            margin-top: 0px;
            opacity: 1;
            text-decoration:none;
            visibility: visible;
            -webkit-transform: translate(-50%, -50%) scale(1);
            -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }