<section class="site-section about-us-section" id="about-section">
    <div class="container">
      
      <div class="row mb-5 pt-0 site-section">
        <div class="col-md-6 align-self-center">
          <h3 class="section-title-sub text-primary">About Me</h3>
          <h2 class="section-title mb-4">Architect turned Developer</h2>

          <p>Hi, I am an American architect (buildings!) by training with seven years of experience in NYC and a bootcamp graduate in both full-stack and front-end development. </p>
          <p>I enjoy creating full-stack web applications using exciting front-end frameworks such as <b>Angular</b>, <b>React</b>, or <b>Jquery</b>. And lately, for the back-end I have been taking a deep-dive into <b>Asp.net</b> and <b>C#</b> as a full-stack developer with Megablok.</p>
          
          <div class="footer-social">
            <a href="https://www.linkedin.com/in/carlos-planchart/" class="mr-3" target="_blank" rel="noopener noreferrer"><span class="icon-linkedin"></span></a>
            <a href="https://github.com/cplan85" class="mr-3" target="_blank" rel="noopener noreferrer"><span class="icon-github mr-3"></span></a>
            <a href="mailto:carlos_planchart@live.com" class="mr-3" target="_blank" rel="noopener noreferrer"><span class="icon-mail_outline"></span></a>
          </div>
          <p class="mt-4"><a href="https://www.carlosplanchart.com/about/" class="spepcial_link">Read more about me</a></p>
        </div>
        <div class="col-md-5 ml-auto img-overlap">
          
          <div class="img-1" >
            <img [src]="hackathonSrc"
            (mouseover)="hackathonSrc = hackathonHoverSrc"
              (mouseout)="hackathonSrc = hackathonOutSrc"
            alt="Image" class="img-fluid img-shadow" >
            <a 
            (mouseover)="hackathonSrc = hackathonHoverSrc"
              (mouseout)="hackathonSrc = hackathonOutSrc"
            href="https://github.com/cplan85/hackathon-JTD" class="item-wrap" target="_blank" rel="noopener noreferrer">
            <span>
              <p><span class="icon-trophy" target="_blank" rel="noopener noreferrer"></span> Hackathon Winner</p>
              <small>Jornada de Talento Digital Oct 2022</small>
            </span>
          </a>
          </div>
          <div class="img-2">
            <img [src]="profileSrc" 
            (mouseover)="profileSrc = profileHoverSrc"
              (mouseout)="profileSrc = profileOutSrc"
            alt="Image" class="img-fluid img-shadow">
          </div>
        </div>
      </div>
      
      <div class="row pb-0 border-top pt-5 block__19738 section-counter">

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="icon-line-mobile mr-3"></span>
            <!-- <strong class="number" data-number="2393">0</strong> -->
          </div>
          <span class="caption">Responsive-Focused</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="icon-line-lightbulb mr-3"></span>
            <!-- <strong class="number" data-number="54">0</strong> -->
          </div>
          <span class="caption">Analytical</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="icon-line-trophy mr-3"></span>
            <!-- <strong class="number" data-number="120">0</strong> -->
          </div>
          <span class="caption">Deadline-Driven</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="icon-line-puzzle mr-3"></span>
            <!-- <strong class="number" data-number="550">0</strong> -->
          </div>
          <span class="caption">Problem Solver</span>
        </div>

          
      </div>

    </div>
  </section>
