<section class="site-section about-us-section" id="about-us-section">
    <div class="container">
      
      <div class="row mb-5 pt-0 site-section">
        <div class="col-md-6 align-self-center">
          <h3 class="section-title-sub text-primary">About Me</h3>
          <h2 class="section-title mb-4">Architect turned Developer?</h2>

          <p>Hi, I am an American architect (buildings!) by training with seven years of experience in NYC and a bootcamp graduate in both full-stack and front-end development. </p>
          <p>I enjoy creating JavaScript full-stack web applications primarily with the MEAN & MERN Stacks (MongoDB, Express, Angular or React, Node.js).</p>
          <p class="mt-4"><a href="#" class="spepcial_link">Read more about me</a></p>
        </div>
        <div class="col-md-5 ml-auto img-overlap">
          <div class="img-1" ><img src="../assets/images/hackathon-1.jpg" alt="Image" class="img-fluid img-shadow" ></div>
          <div class="img-2"><img src="../assets/images/profile3.jpg" alt="Image" class="img-fluid img-shadow"></div>
        </div>
      </div>
      
      <div class="row pb-0 border-top pt-5 block__19738 section-counter">

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="icon-line-mobile mr-3"></span>
            <!-- <strong class="number" data-number="2393">0</strong> -->
          </div>
          <span class="caption">Web Developer</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="icon-line-lightbulb mr-3"></span>
            <!-- <strong class="number" data-number="54">0</strong> -->
          </div>
          <span class="caption">Analytical</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="icon-line-trophy mr-3"></span>
            <!-- <strong class="number" data-number="120">0</strong> -->
          </div>
          <span class="caption">Deadline-Driven</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="icon-line-puzzle mr-3"></span>
            <!-- <strong class="number" data-number="550">0</strong> -->
          </div>
          <span class="caption">Problem Solver</span>
        </div>

          
      </div>

    </div>
  </section>
