<section class="site-section block__62272" id="portfolio-section">
    

    <div class="container">

      <div class="row mb-3">
        <div class="col-12 text-center" data-aos="fade">
          <h3 class="section-title-sub text-primary">Web Dev.</h3>
          <h2 class="section-title mb-3">Portfolio</h2>
        </div>
      </div>

      <div class="row justify-content-center mb-5" data-aos="fade-up">
        <div id="filters" class="filters text-center button-group col-md-7">
          <button class="btn btn-primary active" data-filter="*" #all_button>All</button>
          <button class="btn btn-primary" data-filter=".angular">ANGULAR</button>
          <button class="btn btn-primary" data-filter=".react">REACT</button>
          <button class="btn btn-primary" data-filter=".javascript">JAVASCRIPT</button>
          <button class="btn btn-primary" data-filter=".full-stack">FULL-STACK</button>
        </div>
      </div>  
      
      <div id="posts" class="row no-gutter">
        <div class="item angular full-stack col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a class="item-wrap">
            <span>
              <p>EVENT ZORRO</p>
              <small>MongoDB, Express, Angular, NodeJS</small>
              
              <div class="d-flex mt-4">

                <a href="https://event-zorro.herokuapp.com/" target='_blank'><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://github.com/cplan85/Sprint9-Events-App" target='_blank'><span class="icon-github link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/e-zorro-1.jpg">
          </a>
        </div>
        <div class="item react full-stack col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a class="item-wrap">
            <span>
              <p>PANTRY BUDDY</p>
              <small>MongoDB, Express, React, NodeJS</small>
              
              <div class="d-flex mt-4">

                <a href="http://pantrybuddy.rocks/" target='_blank'><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://gitlab.com/cplan485/bcs_project" target='_blank'><span class="icon-gitlab link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/pantry-buddy-1.jpg">
          </a>
        </div>

        <div class="item angular col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a class="item-wrap">
            <span>
              <p>BUDGET APP</p>
              <small>Angular, Angular Material, Apex Charts</small>
              
              <div class="d-flex mt-4">

                <a href="https://cp-sprint-7.netlify.app/" target='_blank'><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://github.com/cplan85/Sprint7" target='_blank'><span class="icon-github link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/budget-app-1.jpg">
          </a>
        </div>

        <div class="item react full-stack col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">

          <a class="item-wrap">
            
            <span>
              <p>PLAN_CHARTS</p>
              <small>MongoDB, Express, React, NodeJS</small>
              
              <div class="d-flex mt-4">

                <a href="https://plan-charts.herokuapp.com/" target='_blank'><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://gitlab.com/cplan485/plan-charts" target='_blank'><span class="icon-gitlab link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/plan-charts-1.jpg">
          </a>

        </div>

        <div class="item javascript col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a class="item-wrap">
            <span>
              <p>PURPLE DYE</p>
              <small>Svelte, GraphQL, Typescript Strapi</small>
              
              <div class="d-flex mt-4">

                 <a href="https://www.carlosplanchart.com/purple-dye/"  target="_blank"><span class="icon-add mr-3 link-button"></span></a>
                <!-- <a href="https://gitlab.com/cplan485/plan-charts"><span class="icon-gitlab link-button"></span></a> -->
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/purple-dye-1.jpg">
          </a>
        </div>

        <div class="item angular col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a class="item-wrap">
            <span>
              <p>STAR WARS STARSHIP</p>
              <small>Angular, Bootstrap5, REST API</small>
              
              <div class="d-flex mt-4">

                <a href="https://cp-star-wars.netlify.app/" target='_blank'><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://github.com/cplan85/Sprint8-Star-Wars" target='_blank'><span class="icon-github link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/star-wars-1.jpg">
          </a>
        </div>

        <div class="item javascript col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a class="item-wrap">
            <span>
              <p>Joke Generator</p>
              <small>Typescript, REST API</small>
              
              <div class="d-flex mt-4">

                <a href="https://cp-joke-generator-blob.netlify.app/" target='_blank'><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://github.com/cplan85/Sprint5-Acudits" target='_blank'><span class="icon-github link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/sprint-5.jpg">
          </a>
        </div>

        <div class="item javascript col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a class="item-wrap">
            <span>
              <p>E-Commerce Mock</p>
              <small>Javascript, Boostrap5, SASS</small>
              
              <div class="d-flex mt-4">

                <a href="https://cp-sprint3-shop.netlify.app/" target='_blank'><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://github.com/cplan85/Sprint3-Shop" target='_blank'><span class="icon-github link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/layouts-2.jpg">
          </a>
        </div>

        <div class="item angular col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a class="item-wrap">
            <span>
              <p>Pokemon App</p>
              <small>Angular, Bootstrap5, REST API</small>
              
              <div class="d-flex mt-4">
                <a href="https://github.com/cplan85/Pokemon-App" target='_blank'><span class="icon-github link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/pokemon-app.jpg">
          </a>
        </div>

        <div class="item react col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a class="item-wrap">
            <span>
              <p>Weather App</p>
              <small>React Native, OpenWeather API, Google Maps API</small>
              
              <div class="d-flex mt-4">
                <a href="https://snack.expo.dev/@cplan485/gitlab.com-cplan485-weather_app" target='_blank'><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://gitlab.com/cplan485/weather_app" target='_blank'><span class="icon-gitlab link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/weather-app-2.jpg">
          </a>
        </div>

        <div class="item react col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a class="item-wrap">
            <span>
              <p>React Projects</p>
              <small>React, CSS, Flexbox</small>
              
              <div class="d-flex mt-4">
                <a href="https://www.freecodecamp.org/certification/fcc37565cfa/front-end-development-libraries" target='_blank'><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://github.com/cplan85/FCC_25-5-Clock" target='_blank'><span class="icon-github link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/react-projects-1.jpg">
          </a>
        </div>

        <div class="item angular col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a class="item-wrap">
            <span>
              <p>JTD Hackathon - Project</p>
              <small>Angular, Bootstrap5, Leaflet Maps, NGX-Charts </small>
              
              <div class="d-flex mt-4">
                <!-- <a href="https://www.freecodecamp.org/certification/fcc37565cfa/front-end-development-libraries"><span class="icon-external-link-square mr-3 link-button"></span></a> -->
                <a href="https://github.com/cplan85/hackathon-JTD" target='_blank'><span class="icon-github link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="./assets/images/jtd-1.jpg">
          </a>
        </div>


      </div>
    </div>

  </section>
