<section class="site-section block__62272" id="portfolio-section">
    

    <div class="container">

      <div class="row mb-3">
        <div class="col-12 text-center" data-aos="fade">
          <h3 class="section-title-sub text-primary">Web Dev.</h3>
          <h2 class="section-title mb-3">Portfolio</h2>
        </div>
      </div>

      <div class="row justify-content-center mb-5" data-aos="fade-up">
        <div id="filters" class="filters text-center button-group col-md-7">
          <button class="btn btn-primary active" data-filter="*">All</button>
          <button class="btn btn-primary" data-filter=".angular">ANGULAR</button>
          <button class="btn btn-primary" data-filter=".react">REACT</button>
          <button class="btn btn-primary" data-filter=".javascript">JAVASCRIPT</button>
          <button class="btn btn-primary" data-filter=".full-stack">FULL-STACK</button>
        </div>
      </div>  
      
      <div id="posts" class="row no-gutter">
        <div class="item angular full-stack col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="portfolio-single.html" class="item-wrap">
            <span>
              <p>EVENT ZORRO</p>
              <small>MongoDB, Express, Angular, NodeJS</small>
              
              <div class="d-flex mt-4">

                <a href="https://event-zorro.herokuapp.com/"><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://github.com/cplan85/Sprint9-Events-App"><span class="icon-github link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="../assets/images/e-zorro-1.jpg">
          </a>
        </div>
        <div class="item react full-stack col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="portfolio-single.html" class="item-wrap">
            <span>
              <p>PANTRY BUDDY</p>
              <small>MongoDB, Express, React, NodeJS</small>
              
              <div class="d-flex mt-4">

                <a href="http://pantrybuddy.rocks/"><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://gitlab.com/cplan485/bcs_project"><span class="icon-gitlab link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="../assets/images/pantry-buddy-1.jpg">
          </a>
        </div>

        <div class="item angular col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="portfolio-single.html" class="item-wrap">
            <span>
              <p>BUDGET APP</p>
              <small>Angular, Angular Material, Apex Charts</small>
              
              <div class="d-flex mt-4">

                <a href="https://cp-sprint-7.netlify.app/"><span class="icon-external-link-square mr-3 link-button"></span></a>
                <a href="https://github.com/cplan85/Sprint7"><span class="icon-github link-button"></span></a>
              </div>
            </span>
            <img class="img-fluid" src="../assets/images/budget-app-1.jpg">
          </a>
        </div>

        <div class="item react full-stack col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">

          <a href="portfolio-single.html" class="item-wrap">
            <span class="icon-add"></span>
            <img class="img-fluid" src="../assets/images/plan-charts-1.jpg">
          </a>

        </div>

        <div class="item javascript col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="portfolio-single.html" class="item-wrap">
            <span class="icon-add"></span>
            <img class="img-fluid" src="../assets/images/purple-dye-1.jpg">
          </a>
        </div>

        <div class="item angular col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="portfolio-single.html" class="item-wrap">
            <span class="icon-add"></span>
            <img class="img-fluid" src="../assets/images/star-wars-1.jpg">
          </a>
        </div>

        <div class="item javascript col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="portfolio-single.html" class="item-wrap">
            <span class="icon-add"></span>
            <img class="img-fluid" src="../assets/images/sprint-5.jpg">
          </a>
        </div>

        <div class="item javascript col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="portfolio-single.html" class="item-wrap">
            <span class="icon-add"></span>
            <img class="img-fluid" src="../assets/images/layouts-2.jpg">
          </a>
        </div>

        <div class="item angular col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="portfolio-single.html" class="item-wrap">
            <span class="icon-add"></span>
            <img class="img-fluid" src="../assets/images/pokemon-app.jpg">
          </a>
        </div>

        <div class="item react col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="portfolio-single.html" class="item-wrap">
            <span class="icon-add"></span>
            <img class="img-fluid" src="../assets/images/weather-app-2.jpg">
          </a>
        </div>

        <div class="item react col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="portfolio-single.html" class="item-wrap">
            <span class="icon-add"></span>
            <img class="img-fluid" src="../assets/images/react-projects-1.jpg">
          </a>
        </div>

        <div class="item angular col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="portfolio-single.html" class="item-wrap">
            <span class="icon-add"></span>
            <img class="img-fluid" src="../assets/images/jtd-1.jpg">
          </a>
        </div>


      </div>
    </div>

  </section>
