<section class="site-section block__45439" id="blog-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h3 class="section-title-sub text-primary">Read the latest post</h3>
          <h2 class="section-title mb-3">Blog Posts</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 mb-4">
          <div class="block__86547 d-block d-xl-flex align-items-stretch">
            <figure class="img" style="background-image: url('../assets/images/web-launch.jpg')">
            </figure>
            <div class="h-100">
              <h3 class="mb-4"><a href="#">New Website Launch from Wordpress to Angular</a></h3>
              <div class="block__27192 d-flex pt-1 border-top">
                <a href="#"><span class="icon-person"></span> Carlos P</a>
                <a href="#"><span class="icon-calendar-o"></span> 14 Nov 2022</a>
                <a href="#"><span class="icon-chat"></span> 2</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
          <div class="block__86547 d-block d-xl-flex align-items-stretch">
            <figure class="img" style="background-image: url('../assets/images/web-launch-2.jpg')">
            </figure>
            <div class="h-100">
              <h3 class="mb-4"><a href="#">Event Zorro Presentation PDF in Spanish</a></h3>
              <div class="block__27192 d-flex pt-1 border-top">
                <a href="#"><span class="icon-person"></span> Carlos P</a>
                <a href="#"><span class="icon-calendar-o"></span> 7 Apr 2019</a>
                <a href="#"><span class="icon-chat"></span> 2</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 mb-4">
          <div class="block__86547 d-block d-xl-flex align-items-stretch">
            <figure class="img" style="background-image: url('../assets/images/blog-1.jpg')">
            </figure>
            <div class="h-100">
              <h3 class="mb-4"><a href="#">Actually Useful "Best Web Developer" portfolio sites</a></h3>
              <div class="block__27192 d-flex pt-1 border-top">
                <a href="#"><span class="icon-person"></span> Carlos P</a>
                <a href="#"><span class="icon-calendar-o"></span> 7 Apr 2019</a>
                <a href="#"><span class="icon-chat"></span> 2</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
          <div class="block__86547 d-block d-xl-flex align-items-stretch">
            <figure class="img" style="background-image: url('../assets/images/blog-2.jpg')">
            </figure>
            <div class="h-100">
              <h3 class="mb-4"><a href="#">Design Patterns in the IT Academy Project</a></h3>
              <div class="block__27192 d-flex pt-1 border-top">
                <a href="#"><span class="icon-person"></span> Carlos P</a>
                <a href="#"><span class="icon-calendar-o"></span> 7 Apr 2019</a>
                <a href="#"><span class="icon-chat"></span> 2</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
