.home-section {
    position: relative; }
    .home-section h1 {
      font-size: 4.5rem;
      color: #fff;
      font-weight: 200;
      letter-spacing: .2rem;
      text-transform: uppercase; }
      @media (max-width: 991.98px) {
        .home-section h1 {
          font-size: 2.5rem; } }
    .home-section p {
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.6); }
    .home-section a {
      font-size: 1.2rem;
      text-transform: none; }
      .home-section a {
        color: #fff; }
        .home-section a:hover {
          color:#000;
        }
    .home-section .btn {
      text-transform: uppercase;
      font-size: .9rem;
      letter-spacing: .2rem; }
    .home-section .scroll-button {
      position: absolute;
      z-index: 5;
      bottom: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      // background:#c9e265;
      background:#000;
      left: 50%;
      -webkit-transform: translate(-50%, -150%);
      -ms-transform: translate(-50%, -150%);
      transform: translate(-50%, -150%);
      -webkit-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3); }
      .home-section .scroll-button > span {
        position: absolute;
        font-size: 2rem;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

        .video-container {
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }

        .section-hero, .section-hero > .container > .row {
          height: 100vh;
          min-height: 900px; }
        
        .section-hero.overlay, .section-hero.overlay-2 {
          position: relative; }
          .section-hero.overlay:before, .section-hero.overlay-2:before {
            z-index: 1;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          //  background: rgba(81, 119, 31, 0.5);
            background: rgba(110, 112, 11, 0.5);
           }
        
        .section-hero.overlay-2:before {
          background: rgba(125, 131, 132, 0.95); }
        
        .section-hero > .container {
          z-index: 2;
          position: relative; }
        
        .video-container {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          z-index: -1; }
          .video-container video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }