  <!-- NAVBAR -->
  <header class="site-navbar mt-3" id="top">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="site-logo col-6"><a href="index.html">Carlos Planchart</a></div>


        

        <nav class="mx-auto site-navigation">
          <ul class="site-menu js-clone-nav d-none d-lg-block">
            <li><a href="index.html" class="nav-link active">Home</a></li>
            <li><a href="#about-section" (click)="goToSection('about-section')">About</a></li>
            <li><a href="#skills-section" (click)="goToSection('skills-section')">Skills</a></li>
            <li ><a href="#portfolio-section" (click)="goToSection('portfolio-section')">Portfolio</a></li>
            <!-- <li class="has-children">
              <a href="services.html">Pages</a>
              <ul class="dropdown">
                <li><a href="services.html">Services</a></li>
                <li><a href="service-single.html">Service Single</a></li>
                <li><a href="blog-single.html">Blog Single</a></li>
                <li><a href="portfolio-single.html">Portfolio Single</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="faq.html">Frequently Ask Questions</a></li>
                <li><a href="gallery.html">Gallery</a></li>
              </ul>
            </li> -->
            <li><a href="#blog-section" (click)="goToSection('blog-section')">Blog</a></li>
            <li><a href="#footer-section" (click)="goToSection('footer-section')">Contact</a></li>
          </ul>
        </nav>
        
        <div class="col-6 site-burger-menu d-block d-lg-none text-right">
          <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
        </div>

      </div>
    </div>
  </header>
