<section class="site-section services-section bg-light block__62849" id="services-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h3 class="section-title-sub text-primary">My Services</h3>
          <h2 class="section-title mb-3">Services</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

          <a href="service-single.html" class="block__16443 text-center d-block">
            <span class="custom-icon mx-auto"><span class="icon-line-tools d-block"></span></span>
            <h3>Design</h3>
            <p>Borrowing from my experience in Architecture, I have an eye for detail and advanced proficiencies in graphics editing software.
            </p>
            <!-- <span class="custom-icon"><span class="icon-line-mobile mr-3"></span></span> -->
            <div class="services-social">
              <a href="#"><span class="icon-html5"></span></a>
              <a href="#"><span class="icon-css3"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </a>

        </div>
        <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
          
          <a href="service-single.html" class="block__16443 text-center d-block">
            <span class="custom-icon mx-auto"><span class="icon-line-laptop d-block"></span></span>
            <h3>Frontend Engineering</h3>
            <p>I delight in the technical challenge of turning a beautiful UI design into working and functional code.</p>
            <div class="services-social">
              <img [ngStyle]="{'fill': 'red'}"
               src="../../../../assets/icons/angular-icon-1.svg">
              <img src="../../../../assets/icons/angular-icon-1.svg">
            </div>
          </a>            

        </div>
        <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
          
          <a href="service-single.html" class="block__16443 text-center d-block">
            <span class="custom-icon mx-auto"><span class="icon-server d-block"></span></span>
            <h3>Backend Engineering</h3>
            <p>The front-end is only half the equation. I can interface with databases, CMS, and back-end APIs.
            </p>
          </a>            

        </div>
        <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
          
          <a href="service-single.html" class="block__16443 text-center d-block">
            <span class="custom-icon mx-auto"><span class="icon-database d-block"></span></span>
            <h3>Databases</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
          </a>

        </div>
        <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
          
          <a href="service-single.html" class="block__16443 text-center d-block">
            <span class="custom-icon mx-auto"><span class="icon-line-search d-block"></span></span>
            <h3>SEO</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
          </a>

        </div>
        <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
          
          <a href="service-single.html" class="block__16443 text-center d-block">
            <span class="custom-icon mx-auto"><span class="icon-playlist_add_check d-block"></span></span>
            <h3>Testing & Quality Assurance</h3>
            <p class="d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
          </a>

        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <a href="#" class="btn btn-primary btn-md">View All Services</a>
        </div>
      </div>
    </div>
  </section>
