<footer class="site-footer slanted-footer" id="footer-section">

    <a href="#top" class="smoothscroll scroll-top">
      <span class="icon-keyboard_arrow_up"></span>
    </a>

    <div class="container">
      <div class="row mb-5">
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Carlos Planchart</h3>
          <ul class="list-unstyled">
            <li><a (click)="goToSection('portfolio-section')">Angular</a></li>
            <li><a (click)="goToSection('portfolio-section')">React</a></li>
            <li><a (click)="goToSection('portfolio-section')">Javascript</a></li>
            <li><a (click)="goToSection('portfolio-section')">Full-Stack</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Home</h3>
          <ul class="list-unstyled">
            <li><a (click)="goToSection('about-section')">About Me</a></li>
            <li><a (click)="goToSection('skills-section')">Skills</a></li>
            <li><a (click)="goToSection('portfolio-section')">Portfolio</a></li>
            <li><a (click)="goToSection('blog-section')">Blog</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Lab</h3>
          <ul class="list-unstyled">
            <li><a href="#">Three.js</a></li>
            <li><a href="#">Maps</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Contact Me</h3>
          <div class="footer-social">
            <a href="https://www.linkedin.com/in/carlos-planchart/" class="mr-3" target="_blank" rel="noopener noreferrer"><span class="icon-linkedin"></span></a>
            <a href="https://github.com/cplan85" class="mr-3" target="_blank" rel="noopener noreferrer"><span class="icon-github mr-3"></span></a>
            <a href="mailto:carlos_planchart@live.com" class="mr-3" target="_blank" rel="noopener noreferrer"><span class="icon-mail_outline"></span></a>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <p class="copyright"><small class="block">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy; {{date}} Site handcrafted with <i class="icon-heart text-danger" aria-hidden="true"></i> by Carlos Planchart & with help from <a href="https://colorlib.com" target="_blank" >Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </small></p>
        </div>
      </div>
    </div>
  </footer>
